.doc-box {
    height: 1000px; color: white;padding: 3rem;
    
    font-family: 'East Sea Dokdo', cursive;
     font-style: italic;
    font-size: 20px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    }
      
    .box1 {
        background-image: url("../image/3.jpg");
        margin: 0 auto;
        padding: 1px;
       
    }
    .box2 {
          background-image: url("../image/5.jpg");
          margin: 0 auto;
        padding: 1px;
    }
    .box3 {
          background-image: url("../image/12.jpg");
          margin: 0 auto;
        padding: 1px;
    }
    .box4 {
          background-image: url("../image/27.jpg");
          margin: 0 auto;
        padding: 1px;
    
      }
  
